<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmf.infrastructure.dal.mapper.BusinessDomainValueObjectAttrMapper">
    <resultMap id="BaseResultMap" type="com.bmf.infrastructure.dal.po.BusinessDomainValueObjectAttrPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="vo_code" jdbcType="INTEGER" property="voCode"/>
        <result column="attr_name" jdbcType="VARCHAR" property="attrName"/>
        <result column="attr_type" jdbcType="VARCHAR" property="attrType"/>
        <result column="attr_desc" jdbcType="VARCHAR" property="attrDesc"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, vo_code, attr_name, attr_type, attr_desc, gmt_create, gmt_modify, is_deleted
    </sql>

    <select id="selectOne" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_business_domain_vo_attr
        limit 1
    </select>

    <insert id="insert" parameterType="com.bmf.infrastructure.dal.po.BusinessDomainValueObjectAttrPO">
        insert into bmf_business_domain_vo_attr (vo_code, attr_name, attr_type, attr_desc)
        values (
            #{voCode,jdbcType=INTEGER},
            #{attrName,jdbcType=VARCHAR},
            #{attrType,jdbcType=VARCHAR},
            #{attrDesc,jdbcType=VARCHAR}
        )
    </insert>

</mapper>