<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmf.infrastructure.dal.mapper.BusinessDomainValueObjectMapper">
    <resultMap id="BaseResultMap" type="com.bmf.infrastructure.dal.po.BusinessDomainValueObjectPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="domain_code" jdbcType="INTEGER" property="domainCode"/>
        <result column="vo_code" jdbcType="INTEGER" property="voCode"/>
        <result column="vo_alias" jdbcType="VARCHAR" property="voAlias"/>
        <result column="vo_name" jdbcType="VARCHAR" property="voName"/>
        <result column="vo_desc" jdbcType="VARCHAR" property="voDesc"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, domain_code, vo_code, vo_alias, vo_name, vo_desc, gmt_create, gmt_modify, is_deleted
    </sql>

    <select id="selectOne" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_business_domain_vo
        limit 1
    </select>

    <insert id="insert" parameterType="com.bmf.infrastructure.dal.po.BusinessDomainValueObjectPO">
        insert into bmf_business_domain_vo (domain_code, vo_code, vo_alias, vo_name, vo_desc)
        values (
            #{domainCode,jdbcType=INTEGER},
            #{voCode,jdbcType=INTEGER},
            #{voAlias,jdbcType=VARCHAR},
            #{voName,jdbcType=VARCHAR},
            #{voDesc,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delete" parameterType="com.bmf.infrastructure.dal.po.BusinessDomainValueObjectPO">
        delete from bmf_business_domain_vo
        where domain_code = #{domainCode,jdbcType=INTEGER}
        and vo_code = #{voCode,jdbcType=INTEGER}
    </delete>
</mapper>