<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmf.infrastructure.dal.mapper.UserBusinessMapper">
    <resultMap id="BaseResultMap" type="com.bmf.infrastructure.dal.po.UserBusinessPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="business_code" jdbcType="INTEGER" property="businessCode"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, business_code, gmt_create, gmt_modify, is_deleted
    </sql>

    <select id="selectOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM bmf_user_business
        <trim prefix="where" prefixOverrides="and|or">
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="businessCode != null">and business_code = #{businessCode}</if>
        </trim>
        limit 1
    </select>

    <insert id="insert" parameterType="com.bmf.infrastructure.dal.po.UserBusinessPO">
        insert into bmf_user_business (user_id, business_code)
        values (
            #{userId,jdbcType=INTEGER},
            #{businessCode,jdbcType=INTEGER}
        )
    </insert>

    <delete id="delete">
        delete from bmf_user_business
        where user_id = #{userId}
        and business_code = #{businessCode}
    </delete>
</mapper>