<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmf.infrastructure.dal.mapper.BusinessFlowNodeMapper">
    <resultMap id="BaseResultMap" type="com.bmf.infrastructure.dal.po.BusinessFlowNodePO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="flow_id" jdbcType="INTEGER" property="flowId"/>
        <result column="node_id" jdbcType="INTEGER" property="nodeId"/>
        <result column="node_name" jdbcType="VARCHAR" property="nodeName"/>
        <result column="node_alias" jdbcType="VARCHAR" property="nodeAlias"/>
        <result column="node_type" jdbcType="VARCHAR" property="nodeType"/>
        <result column="domain_element" jdbcType="VARCHAR" property="domainElement"/>
        <result column="element_id" jdbcType="INTEGER" property="elementId"/>
        <result column="pre_nodes" jdbcType="VARCHAR" property="preNodes"
                typeHandler="com.bmf.infrastructure.dal.typehandler.IntegerArrayTypeHandler"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, flow_id, node_id, node_name, node_alias, node_type, domain_element, element_id,
        pre_nodes, role_id, gmt_create, gmt_modify, is_deleted
    </sql>

    <select id="selectOne" resultMap="BaseResultMap" parameterType="com.bmf.infrastructure.dal.po.BusinessFlowNodePO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_business_flow_node
        <trim prefix="where" prefixOverrides="and|or">
            <if test="flowId != null">and flow_id = #{flowId}</if>
            <if test="nodeId != null">and node_id = #{nodeId}</if>
        </trim>
        limit 1
    </select>

    <select id="selectNodeList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_business_flow_node
        where flow_id = #{flowId}
    </select>

    <insert id="insert" parameterType="com.bmf.infrastructure.dal.po.BusinessFlowNodePO">
        insert into bmf_business_flow_node (flow_id, node_id, node_name, node_alias, node_type,
        domain_element, element_id, pre_nodes)
        values (
            #{flowId,jdbcType=INTEGER},
            #{nodeId,jdbcType=INTEGER},
            #{nodeName,jdbcType=VARCHAR},
            #{nodeAlias,jdbcType=VARCHAR},
            #{nodeType,jdbcType=VARCHAR},
            #{domainElement,jdbcType=VARCHAR},
            <if test="elementId != null">#{elementId,jdbcType=INTEGER},</if><if test="elementId == null">0,</if>
            <if test="preNodes != null">#{preNodes,jdbcType=VARCHAR}</if><if test="preNodes == null">''</if>
        )
    </insert>

    <delete id="delete">
        delete from bmf_business_flow_node
        where flow_id = #{flowId}
        and node_id = #{nodeId}
    </delete>
</mapper>