<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmf.design.infrastructure.dal.mapper.BusinessRelDomainMapper">
    <resultMap id="BaseResultMap" type="com.bmf.design.infrastructure.dal.po.BusinessRelDomainPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="business_code" jdbcType="INTEGER" property="businessCode"/>
        <result column="domain_code" jdbcType="INTEGER" property="domainCode"/>
        <result column="domain_position" jdbcType="VARCHAR" property="domainPosition"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, business_code, domain_code, domain_position
    </sql>

    <select id="selectOne" resultMap="BaseResultMap" parameterType="com.bmf.design.infrastructure.dal.po.BusinessRelDomainPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_business_rel_domain
        where business_code = #{businessCode,jdbcType=INTEGER}
        and domain_code = #{domainCode,jdbcType=INTEGER}
        limit 1
    </select>

    <select id="selectByBusinessCode" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_business_rel_domain
        where business_code = #{businessCode,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.bmf.design.infrastructure.dal.po.BusinessRelDomainPO">
        insert into bmf_business_rel_domain (business_code, domain_code, domain_position)
        values (
            #{businessCode,jdbcType=INTEGER},
            #{domainCode,jdbcType=INTEGER},
            #{domainPosition,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into bmf_business_rel_domain (business_code, domain_code, domain_position)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.businessCode,jdbcType=INTEGER},
                #{item.domainCode,jdbcType=INTEGER},
                #{item.domainPosition,jdbcType=VARCHAR}
            </trim>
        </foreach>
        on duplicate key update
        domain_position = values(domain_position),
        gmt_modify = now()
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        update bmf_business_rel_domain
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="domain_position = case id" suffix="end">
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.domainPosition}
                </foreach>
            </trim>
            <trim prefix="gmt_modify = case id" suffix="end">
                <foreach collection="list" item="item">
                    when #{item.id} then now()
                </foreach>
            </trim>
        </trim>
        <where>
            id in (
            <foreach collection="list" separator="," item="item">
                #{item.id}
            </foreach>
            )
        </where>
    </update>

    <delete id="delete" parameterType="com.bmf.design.infrastructure.dal.po.BusinessRelDomainPO">
        delete from bmf_business_rel_domain
        where business_code = #{businessCode,jdbcType=INTEGER}
        and domain_code = #{domainCode,jdbcType=INTEGER}
    </delete>

    <delete id="batchDelete" parameterType="java.util.List">
        delete from bmf_business_rel_domain
        where id in (
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        )
    </delete>

    <delete id="deleteByBusinessCode" parameterType="java.lang.Integer">
        delete from bmf_business_rel_domain
        where business_code = #{businessCode,jdbcType=INTEGER}
    </delete>
</mapper>