<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmf.design.infrastructure.dal.mapper.BusinessFlowNodeMapper">
    <resultMap id="BaseResultMap" type="com.bmf.design.infrastructure.dal.po.BusinessFlowNodePO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="flow_id" jdbcType="INTEGER" property="flowId"/>
        <result column="node_id" jdbcType="INTEGER" property="nodeId"/>
        <result column="node_name" jdbcType="VARCHAR" property="nodeName"/>
        <result column="node_alias" jdbcType="VARCHAR" property="nodeAlias"/>
        <result column="node_type" jdbcType="VARCHAR" property="nodeType"/>
        <result column="pre_nodes" jdbcType="VARCHAR" property="preNodes"
                typeHandler="com.bmf.design.infrastructure.dal.typehandler.IntegerArrayTypeHandler"/>
        <result column="next_nodes" jdbcType="VARCHAR" property="nextNodes"
                typeHandler="com.bmf.design.infrastructure.dal.typehandler.IntegerArrayTypeHandler"/>
        <result column="condition" jdbcType="VARCHAR" property="condition"/>
        <result column="node_content" jdbcType="VARCHAR" property="nodeContent"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, flow_id, node_id, node_name, node_alias, node_type, pre_nodes, next_nodes,
        condition, node_content, gmt_create, gmt_modify, is_deleted
    </sql>

    <select id="selectOne" resultMap="BaseResultMap" parameterType="com.bmf.design.infrastructure.dal.po.BusinessFlowNodePO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_business_flow_node
        <trim prefix="where" prefixOverrides="and|or">
            <if test="flowId != null">and flow_id = #{flowId}</if>
            <if test="nodeId != null">and node_id = #{nodeId}</if>
        </trim>
        limit 1
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_business_flow_node
        where flow_id = #{flowId}
    </select>

    <insert id="insert" parameterType="com.bmf.design.infrastructure.dal.po.BusinessFlowNodePO">
        insert into bmf_business_flow_node (flow_id, node_id, node_name, node_alias, node_type,
        pre_nodes, next_nodes, condition, node_content)
        values (
            #{flowId,jdbcType=INTEGER},
            #{nodeId,jdbcType=INTEGER},
            #{nodeName,jdbcType=VARCHAR},
            #{nodeAlias,jdbcType=VARCHAR},
            #{nodeType,jdbcType=VARCHAR},
            #{preNodes,jdbcType=VARCHAR},
            #{nextNodes,jdbcType=VARCHAR},
            #{condition,jdbcType=VARCHAR},
            #{nodeContent,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into bmf_business_flow_node (flow_id, node_id, node_name, node_alias, node_type,
        pre_nodes, next_nodes, condition, node_content)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.flowId,jdbcType=INTEGER},
                #{item.nodeId,jdbcType=INTEGER},
                #{item.nodeName,jdbcType=VARCHAR},
                #{item.nodeAlias,jdbcType=VARCHAR},
                #{item.nodeType,jdbcType=VARCHAR},
                #{item.preNodes,jdbcType=VARCHAR},
                #{item.nextNodes,jdbcType=VARCHAR},
                #{item.condition,jdbcType=VARCHAR},
                #{item.nodeContent,jdbcType=VARCHAR}
            </trim>
        </foreach>
    </insert>

    <delete id="delete">
        delete from bmf_business_flow_node
        where flow_id = #{flowId}
        and node_id = #{nodeId}
    </delete>
</mapper>