<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmf.design.infrastructure.dal.mapper.DomainRelationMapper">
    <resultMap id="BaseResultMap" type="com.bmf.design.infrastructure.dal.po.DomainRelationPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="business_code" jdbcType="INTEGER" property="businessCode"/>
        <result column="domain_relation" jdbcType="VARCHAR" property="domainRelation"/>
        <result column="domain_a_code" jdbcType="INTEGER" property="domainACode"/>
        <result column="domain_b_code" jdbcType="INTEGER" property="domainBCode"/>
        <result column="domain_a_role" jdbcType="VARCHAR" property="domainARole"/>
        <result column="domain_b_role" jdbcType="VARCHAR" property="domainBRole"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, business_code, domain_relation, domain_a_code, domain_b_code, domain_a_role, domain_b_role, gmt_create, gmt_modify
    </sql>

    <select id="selectOne" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_domain_relation
        where is_deleted = 0
        limit 1
    </select>

    <select id="selectByBusinessCode" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_domain_relation
        where business_code = #{businessCode,jdbcType=INTEGER}
        and is_deleted = 0
    </select>

    <select id="selectByDomain" resultMap="BaseResultMap" parameterType="com.bmf.design.infrastructure.dal.po.DomainRelationPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bmf_domain_relation
        where business_code = #{businessCode,jdbcType=INTEGER}
        and (
            domain_a_code = #{domainACode,jdbcType=INTEGER}
            or
            domain_b_code = #{domainBCode,jdbcType=INTEGER}
        )
        and is_deleted = 0
    </select>

    <insert id="insert" parameterType="com.bmf.design.infrastructure.dal.po.DomainRelationPO">
        insert into bmf_domain_relation (business_code, domain_relation, domain_a_code, domain_b_code, domain_a_role, domain_b_role)
        values (
            #{businessCode,jdbcType=INTEGER},
            #{domainRelation,jdbcType=VARCHAR},
            #{domainACode,jdbcType=INTEGER},
            #{domainBCode,jdbcType=INTEGER},
            #{domainARole,jdbcType=VARCHAR},
            #{domainBRole,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="batchInsert" parameterType="com.bmf.design.infrastructure.dal.po.DomainRelationPO">
        insert into bmf_domain_relation (business_code, domain_relation, domain_a_code, domain_b_code, domain_a_role, domain_b_role)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.businessCode,jdbcType=INTEGER},
                #{item.domainRelation,jdbcType=VARCHAR},
                #{item.domainACode,jdbcType=INTEGER},
                #{item.domainBCode,jdbcType=INTEGER},
                #{item.domainARole,jdbcType=VARCHAR},
                #{item.domainBRole,jdbcType=VARCHAR}
            </trim>
        </foreach>
        on duplicate key update
        domain_relation = values(domain_relation),
        domain_a_role = values(domain_a_role),
        domain_b_role = values(domain_b_role),
        gmt_modify = now()
    </insert>

    <delete id="delete" parameterType="com.bmf.design.infrastructure.dal.po.BusinessRelDomainPO">
        delete from bmf_domain_relation
        <trim prefix="where" prefixOverrides="and | or">
            <if test="businessCode != null">
                and business_code = #{businessCode}
            </if>
            <if test="domainRelation != null">
                and domain_relation = #{domainRelation}
            </if>
            <if test="domainACode != null">
                and domain_a_code = #{domainACode}
            </if>
            <if test="domainBCode != null">
                and domain_b_code = #{domainBCode}
            </if>
            <if test="domainARole != null">
                and domain_a_role = #{domainARole}
            </if>
            <if test="domainBRole != null">
                and domain_b_role = #{domainBRole}
            </if>
        </trim>
    </delete>

    <delete id="deleteByBusinessCode" parameterType="java.lang.Integer">
        delete from bmf_domain_relation
        where business_code = #{businessCode}
    </delete>
</mapper>